.FilterTable {
  max-width: 300px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 20px;
}

/* ... */
.SearchInput {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.SearchInput div {
  margin-top: -10px;
}

.TitleItem {
  table-layout: auto;
  text-align: left;
  background-color: antiquewhite;
  max-width: inherit;
  padding: 1rem;
  border-radius: 20px;
}

.TitleItem td {
  vertical-align: top;
  max-width: 120px;
  padding-right: 2rem;
  text-align: left;
}
